<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

{% block content %}
    <h1>New Client</h1>
    <form action="" method="post">{% csrf_token %}
         <style>
            label { font-weight: bold; float: left; width: 100%; }
            input {width: 300px; padding: 5px; display: inline-block; background: #f1f1f1;}
            button {width: 300px}
            textarea {width: 300px; height: 100px; padding: 5px; display: inline-block; background: #f1f1f1;}
         </style>
      {{ form.as_p }}
      <button class="btn btn-success ml-2" type="submit">Save</button>
    </form>
{% endblock content %}
</html>
