 <!doctype html>
 <html lang="en">2.
 {% extends 'base.html' %}

 {% block title %}Home{% endblock title %}

{% block content %}
 <div class="jumbotron">
   <h1 class="display-4" style= "font-family: 'Gloria Hallelujah', cursive;margin-bottom:3%">Acme Auto Client Management System</h1>
   <p class="lead" style= "font-family: 'Gloria Hallelujah', cursive;margin-bottom: 3%; margin-left: 200px">Car Sales and Service Client Management System.</p>
   <p class="lead">
       <a class="btn btn-primary btn-lg" style= "font-family: 'Gloria Hallelujah', cursive;margin-bottom:2%; margin-left: 400px" href="{% url 'client_list' %}" role="button">View All Clients</a>

  </p>
</div>
{% endblock content %}
</html>








